parameters:
    # NOTE: %rootDir% is `vendor/phpstan/phpstan`
    tmpDir: %rootDir%/tmp
    level: max
    paths:
        - src
    typeAliases:
        BasicTypes: 'int|string|bool|null|float|array|iterable|callable|resource|object'
